
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

$bp-md: 600px;
$bp-lg: 700px;
$bp-xlg: 1000px;

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

// BTN-MORE

.btn__more {
	width: 50%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
}

.btn__more:hover {
  letter-spacing: 0.25em;
  background: #c10a4a;
  color: #b80d49;
  -webkit-box-shadow: 0 0 45px #9f1243;
          box-shadow: 0 0 45px #b10d47;
}

.btn__more::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #222222;
}

.btn__more span {
  position: relative;
  z-index: 1;
}

.btn__more i {
  position: absolute;
  inset: 0;
  display: block;
}

.btn__more i::before {
  content: '';
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__more:hover i::before {
  width: 20px;
  left: 20%;
}

.btn__more i::after {
  content: '';
  position: absolute;
  border: 2px solid #c5235c;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__more:hover i::after {
  width: 20px;
  left: 80%;
}

  // Ocultar el Botón
  .btn__more.display__none{
    display: none;
  }

// <------------------------------------------------>

.title__distintos{
  padding: 10px;
  font-size: 4rem;
  text-shadow: 2px 2px 2px gray;
  span{
    color: red;
  }
}
.content__all__post{
	text-align: center;
	background-color: rgb(216, 211, 211);
height: 100%;
}
.content__all__post.more{
	text-align: center;
	background-color: red;
	height: 100%;
	&.btn__more{
		display: none;
	}
}
@media (min-width: $bp-md) {
	.btn__more{
		display: none;
	}
	.content__all__post{
		text-align: center;
		background-color: rgb(175, 123, 218);
		height: 100%;
		&.btn__more{
			display: none;
		}
}
}

.page-content {
  display: grid;
place-items: center;
  grid-gap: 1rem;
  padding: 1rem;
	width: 100%;
  margin: auto;
	z-index: 10;
  font-family: var(--font-sans);
  
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);

  }
  
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

	@media (min-width: $bp-xlg) {
    grid-template-columns: repeat(4, 1fr);
  }
}



.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  @media (min-width: $bp-md) {
    height: 350px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  
	&:nth-child(1):before{
		background-image: url('../../images/wannacry.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	}
	&:nth-child(2):before{
		background-image: url('../../images/petya-ransomware.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
	&:nth-child(3):before{
		background-image: url('../../images/ryuk.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
	&:nth-child(4):before{
		background-image: url('../../images//Bad-rabbit.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
  @media (min-width: $bp-md) {
    .btn__more{
      display: none;
    }
    .content__all__post{
      text-align: center;
      background-color: red;
      height: 100%;
      &.btn__more{
        display: none;
      }
  }
  }
	&:nth-child(5):before{
		background-image: url('../../images//Bad-rabbit.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
	&:nth-child(6):before{
		background-image: url('../../images//Bad-rabbit.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
	&:nth-child(7):before{
		background-image: url('../../images//Bad-rabbit.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
  &:nth-child(8):before{
		background-image: url('../../images//Bad-rabbit.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size:cover;
	}
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 10;
  
  > * + * {
    margin-top: 1rem;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  
  &:hover {
    background-color: lighten(black, 5%);
  }
  
  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $bp-md) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 4.5rem));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform var(--d) var(--e),
        opacity var(--d) var(--e);
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}

@media (max-width: $bp-md) {
  .card.display__none{
      display: none;
    }
    .card.display__in__screen{
      display: inline;
      transition: 2s all ease;
    }
  }
