

.container__prev__icon{
  background-color: rgb(225, 2, 2);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1{
    align-self: center;
    font-size: 3rem;
    margin-left: 10px;
    span{
      color: rgb(255, 255, 255);
    }
  }
}

.back {
  background: none;
  border: 0;
  position: absolute;
  height: 50px;
  width: 60px;
  top: -4px;
  right: 10px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right,
.stalk {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 1.2rem;
  background: white;
  border-radius: 0.2rem;
  z-index: 200;
  opacity: 1;
  left: 50%;
}

.top-left {
  transform: rotate(45deg);
  top: 2.4rem;
}

.top-right {
  transform: rotate(135deg);
  top: 2.4rem;
}

.bottom-left {
  transform: rotate(135deg);
  top: 3.2rem;
}

.bottom-right {
  transform: rotate(45deg);
  top: 3.2rem;
}

.top-left, .bottom-left {
  margin-left: -1rem;
}

.top-right, .bottom-right {
  margin-left: -0.2rem;
}

.stalk {
  top: 2.8rem;
  width: 2rem;
  opacity: 0;
}

.text {
  color: rgb(255, 252, 252);
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0.1rem;
  right: 0px;
  top: 60px;
  margin-left: -1.7rem;
  opacity: 0;
}

.back--one {
  .top-left, .bottom-left {
    transition: opacity .2s 1s;
  }

  .top-right, .bottom-right {
    transition: margin-left .5s .5s;
  }

  .stalk {
    transition: margin-left .5s .5s, opacity .3s 1s;
  }

  .text {
    transition: opacity .2s 1s;
  }

  &:hover {
    .text {
      opacity: 1;
      transition: opacity .3s .3s;
    }
    .top-left, .bottom-left {
      opacity: 0;
      transition: opacity .3s .3s;
    }
    .top-right, .bottom-right {
      margin-left: -1.3rem;
      transition: margin-left .3s .8s;
    }
    .stalk {
      opacity: 1;
      margin-left: -1.2rem;
      transition: margin-left .3s .8s, opacity .3s .5s;
    }
  }
}

.container__x{
  position: relative;
  width: 80px;
  height: 80px;
}


/* ----- RESPONSIVE WITH IPHONES ----- */
