
@mixin posts {
    text-align: center;
    border: 1px solid red;
}

@mixin mixin {
    width: 100%;
    height: 100%;
}

.container__all__posts{
    width: 100vw;
    height: 90vh;
    margin: auto auto;
    background-color: rgb(28, 32, 42);
    .title__post{
        font-size: 3rem;
        padding: 1rem;
        font-weight: bold;
    }

    .container__post__variantes{
        width:90% ;
        height: 90%;
        margin: auto auto;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 150px 1fr 1fr 1fr ; 
        grid-template-areas: 
        "about about secondary"
        "article imagen secondary"
        "article imagen secondary"
        "article description secondary"; 
        background-color: rgb(231, 229, 229);
        box-shadow: 2px 3px 14px 3px gray;
        border-radius: 60px 0px;
        border: 0;
        overflow: hidden
    }

*{
    @include posts;
}

.container__post__variantes{
    .section__about{
        @include mixin;
        background-color: red;
    }
    .article__about__one{
        @include mixin;
        background-color: rgb(31, 139, 19)
    }
    .article__about__two{
        @include mixin;
        background-color: rgb(65, 31, 215)
    }
}

    .title__secondary{
        
    }
    .paragraph__description{
        width: 60%;
        font-size: 1.2rem;
    }
    .paragraph__secondary{
        width: 60%;
    }
    .container__image{
        width: 90%;
        min-height: 20%;
        overflow: hidden;
        margin: 20px;
        .img__post{
            border-radius: 80px 120px;
            width: 100%;
            height: 100%;
        }
        
    }
}
.container__post__variantes{
    .section__about{
        grid-area: about ;
    }
    .container__image{
        grid-area: imagen;
    }
    .description__image{
        grid-area: description;
    }
    .article__about__one{
        grid-area: article ;
    }
    .article__about__two{
        grid-area: secondary ;
    }
}


@media only screen and (max-width:600px){
    .container__all__posts{
        .container__post__variantes{
            width:90% ;
            height: 90%;
            margin: auto auto;
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 150px 1fr 1fr 1fr ; 
            grid-template-areas: 
            "about about"
            "article article"
            "imagen imagen"
            "secondary secondary"; 
        }
    }
}